# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter Notebook
.ipynb_checkpoints/

# Environment
.env
.venv/
env/
venv/

# OS files
.DS_Store
Thumbs.db

# Database and model files
*.db
*.sqlite3
*.sav

# VS Code settings
.vscode/

# Logs
*.log